<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emily</title>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
		
		<header>
			<nav>
			    <div class="nav-wrapper">
			      <a href="#" class="brand-logo">Emily McLaughlin</a>
			      <ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a class='waves-effect' href="#">Blog</a></li>
			        <li><a class='waves-effect' href="#">Portfolio</a></li>
			        <li><a class='waves-effect' id='contactBtn' href="#modal1">Contact Me</a></li>
			      </ul>
			    </div>
			</nav>
		</header>

		<main>

			<div class='container'>

				  <!-- Modal Structure -->
				  <div id="modal1" class="modal">
				    <div class="modal-content">
				      <h4>Contact Me</h4>
				      	<div class="row">
						    <form class="col s12">
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="email" type="email" class="validate">
						          <label for="email" data-error="Please enter a valid email address.">Email</label>
						        </div>
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <textarea id="textarea1" class="materialize-textarea"></textarea>
						          <label for="textarea1">Textarea</label>
						        </div>
						      </div>
						    </form>
						</div>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Send</a>
				    </div>
				  </div>

				<div class="parallax-container">
     			 <div class="parallax"><img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/landmark-images/golden-gate_web.jpg"></div>
     			</div>
    			

				<!-- Find a way to implement a CAROUSEL because it's fucking cool. -->
				<!-- Tooltips -->
				<!-- Modals for contact me instead of a new page? -->
				<!-- Parallax -->
				<!-- Pushpin -->
				<!-- ScrollFire -->
				<!-- ScrollSpy -->

				<blockquote>
			      This is an example quotation that uses the blockquote tag.
			    </blockquote>

			    <p class='flow-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum placeat quod doloribus eius, magnam eveniet labore hic quidem sit dicta amet itaque laboriosam fuga, deserunt harum aperiam, obcaecati voluptatibus.</p>


     			</div>

	  			{{{ body }}}
  			</div>

		</main>

  		<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- JS -->
<script type="text/javascript" src="/js/logic.js"></script>
</body>
</html>
