<h1>Home page</h1>
	<div class="parallax-container">
     	<div class="parallax"><img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/landmark-images/golden-gate_web.jpg">
    </div>

    

    <div class="parallax-container">
     	<div class="parallax"><img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/landmark-images/golden-gate_web.jpg">
    </div>

    <div class="parallax-container">
     	<div class="parallax"><img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/landmark-images/golden-gate_web.jpg">
    </div>